//black bg
$primary: #383840;
//button & card bg
$secondary: #592A0F;

//black font
$dark: #212225;
//white font & bg
$light: #F0F2F2;

//bg color
$terciary: #BF6854;
$success: #733F49;

//other button
$danger:  #BF4141;

//font types
$body-font: 'Noto Serif JP', serif;
$footer-font: 'Montserrat', sans-serif;
$card-font: 'Merriweather', serif;  

//styles in process
body {
  font-family: $body-font;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $footer-font;
  font-weight: normal;
}

//button style ok
.button {
  font-family: $body-font;
  font-weight: bold;
}

//$warning: #F2B279;


//Fonts
$font-text: 'Montserrat', sans-serif;
$font-title: 'Merriweather', serif;

// .btn-primary{
//   background-color: $secondary;
// }

// .btn-primary {
//   --bs-btn-color: #F0EEFF;
//   --bs-btn-bg: rgba(162, 128, 249, 1);
//   --bs-btn-border-color: none;
//   --bs-btn-hover-color: #F0EEFF;
//   --bs-btn-hover-bg: #B5A4FD;
//   --bs-btn-hover-border-color: #B5A4FD;
//   --bs-btn-focus-shadow-rgb: 181, 164, 253, 1;
//   --bs-btn-active-color: #F0EEFF;
//   --bs-btn-active-bg: #7937CB;
//   --bs-btn-active-border-color: #7937CB;
//   --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);  
//   --bs-btn-disabled-color: #fff;
//   --bs-btn-disabled-bg: #B5A4FD;
//   --bs-btn-disabled-border-color: #B5A4FD;
// }