//button
$primary: #BF4141;

//card bg
$secondary: #733F49;

//black font
$dark: #212225;
//white font & bg
$light: #F0F2F2;

//Fonts
$font-text: 'Montserrat', sans-serif;
$font-title: 'Noto Serif JP', serif;