.productCard{
    display: flex;
    align-items: stretch;
    width: 26.3rem;
    height: auto;
    box-sizing: border-box;
    border: none !important;

    &__img_container{
        // box-sizing: border-box;
        display: flex;
        overflow: hidden;
    }

    &__img{
        border: none;
        object-fit: cover;
    }
    
    &__body{
        display: flex;
        flex-direction: column;
        padding: 1.875rem;
        background-color: $light;
        border: none;
    }

    &__title{
        text-transform: capitalize;
        margin-top: 0.875rem;
        @include title-h3;
    }

    &__desc{
        @include text;
    }

    &__price{
        font-size: 1.25rem;
        font-family: $font-title;
        color: $dark; 
        opacity: 50%;
    }
}