.mainCont{
    display: flex;
    flex-flow: column wrap;
    margin: 1.875rem;
    justify-content: center;

    &__title{
        margin-bottom: 3.125rem;
    }
}


.galleryCols{
    grid-template-columns: repeat(4, 1fr);
    
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 3rem;
}